@import url('https://fonts.googleapis.com/css?family=Handlee');

* {
    font-family: 'Handlee';
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: auto;
}
body a{
    text-decoration: none;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#showcase{
    background: url('../img/galactic.jpg') no-repeat 50px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
   

}
nav .social-list1{
    font-size: 30px;
    margin-top: 45px;
    letter-spacing: 10px;
    float: right;
}

#showcase h2{
    text-transform: uppercase;
    font-size:  65px;
}
nav a, header a{
    color: #fffafa;
    font-size: 20px;
    transition: 0.5s;
}
nav a:hover, #showcaseA a:hover{
    color: grey;
    
}
#navbarA{
    background-color: blueviolet;
    padding-bottom: 20px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
.navbar{
    width: 100%;
}
.navbar-links{
    width: 85%;
}
nav li{
    margin-top: 45px;
    float: left;
}
nav li, nav li{;
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
#intro{
    letter-spacing: 8px;
    margin-top: 250px;
    font-size: 40px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    border: black 2px solid;
    border-radius: 7%;
    margin-top: 40px;
    transition-property: transform;
    transition-duration: 1s;
}
.btn:hover{
    transform: scale(1.05);
   
}
#about{
    background-color: white; /*rgba(221, 221, 221, 0.33)*/
    color: black;
    padding-bottom: 100px;
    
}
#about aside#sidebar{
    float: right;
    width: 55%;
    margin-top: 100px;
    
}
#about img{
    margin-top: 100px;
    width: 40%;
    
}
#about p{
    font-size: 28px;
}
#showcase .fix-me{
    padding-top: 30px;
}
#services h2{
    font-size: 30px;
    margin-top: 50px;
}
#services h3{
    font-size: 22px;
}
#services {
    background-color: rgba(221, 221, 221, 0.33);
    text-align: center;
    color: black;
    padding-bottom: 100px;
}
#boxes .bxes{
    background-color: transparent;
    color: black;
    font-weight: bolder;
    margin-bottom: 15px;
    width: 80%;
    font-size: 20px;
    padding: 0 5px;
    text-align: left;
    margin-left: 100px;
    
}
#boxes .bxes h3{
    color: black;
    border-bottom: 2px black solid;
    background-size: 40px;
    font-size: 25px;
}
#projects{
    background-color: white;
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: center;
}
#projects h2{
    color: black;
    font-size: 30px;
}
#contact{
    background-color: rgba(221, 221, 221, 0.33);
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    color: black;
}
#contact h1{
    font-size: 30px;
}
#contact form{
    background-color: red;
    padding: 30px;
    font-size: 30px;
    
}
#contact .container{
    width:30%;
}
.footer {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}
#contact input[type=text], input[type="email"]{
    width: 400px;
    height: 30px;
    padding: 4px;
}
#contact textarea{
    width: 400px;
    height: 120px;
    padding: 4px;
}
#contact .contacts-btn {
    background-color: gray !important;
    color: #ffffff !important;
    width: 170px;
    height: 54px;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
    border: 0px;
}
.footer a {
    color: #fffafa;
}

.footer .footer-top {
    padding-top: 10px;
    padding-bottom: 10px;
}
.toggle-button {
    display: none;
}
nav {
    display: inline;
    z-index: 99;
    min-height: 100%;
}

@media(max-width: 780px){
    
    #contact .container{
        width:65%;
    }
    footer{
        font-size: 18px;
        
    padding: none;
    }
    footer nav{
        margin-top: 75px;
        display: block;
    }
    
}

/****Responsive Navbar*****/
.toggle-button {
    position: fixed;
    appearance: none;
    border: none ;
    outline: none;
    background: none;
    top: 10px;
    right: 75px;
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button span {
    position: relative;
    display: block;
    height: 4px;
    width: 33px;
    z-index: 1;
    margin: 5px;
    background-color: white;
}
.toggle-button:hover {
}
@media (max-width: 800px) {
    

    .toggle-button {
        margin-top: 45px;
        display: flex;
    }
    .toggle-button:hover span:nth-child(2){
        transform: translateX(10px);
        transition: ease 0.2s;
        background-color: aqua;
    }
    .toggle-button.active span:nth-child(1){
        transform: translate(1px, -2px) rotate(45deg);
       


    }
    .toggle-button.active span:nth-child(2) {
        opacity: 0;
        transform: translateX(15);
    
    
    }
    .toggle-button.active span:nth-child(3) {
        transform: translate(1.5px, -20px) rotate(-45deg);
    
    
    }
    nav #navbar.active {
        display: inline;
    }
    nav  {
        display: none;
        position: fixed;
        top: 0%;
        left: 40%;
        z-index: 99;
        background-color: black;
        min-height: 100%;
       
    }
    .navbar-links li, .social-list1{
        padding: 20px;
        transform: scale(1.05);
        width: 90%;
    }

    .navbar-links li, .social-list1{
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .social-list1 a {
        font-size: 30px;
        padding-left:5%;
    }
    .navbar-links.active{
        /* display: flex; */
        
    }
    #about {
        justify-content: center;
    }
    #about aside#sidebar{
    float: center;
    width: 100%;
    margin-top: 10px;
    
}
#about img{
    margin-top: 100px;
    width:100%;
    
}
#services{
    width: 100%;
}
}
/*****Grid CSS*****/
.grid-container{
    display: grid;
    grid-template: 
   "project1 project1 project2 project2" 
   "project3 project3 project4 project4" 
}
.grid-item{
    transition: 0.5s;
    padding: 2px;
}
.grid-item:hover{
    
    transform: scale(1.02);
}
 .item-1{
     
     grid-area: project1;

}
.item-2{
    grid-area: project2;

}
.item-3{
    grid-area: project3;
}
.item-4{
    grid-area: project4;
}

